# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'
  environmentName: 'Development'
  artifactName: 'MyWebApp'

stages:
  - stage: 'BuildStage'
    displayName: 'First Stage'
    jobs:
    - job: 'BuildJob'
      displayName: 'Build'
      steps:
      - script: dotnet build --configuration $(buildConfiguration)
        displayName: 'dotnet build $(buildConfiguration)'
  - stage: 'PublishStage'
    jobs:
    - job: 'PublishJob'
      displayName: 'Publish'
      steps:
      - task: DotNetCoreCLI@2
        inputs:
          command: 'publish'
          publishWebProjects: true
          arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
          zipAfterPublish: True
      - task: PublishPipelineArtifact@1
        inputs:
         targetPath: '$(Build.ArtifactStagingDirectory)'
         artifactName: '$(artifactName)'
  - stage: 'DeployStage'
    displayName: 'Final Stage'
    jobs:
    - deployment: VMDeploy
      displayName: 'Deploy to $(environmentName)'
      environment:
        name: $(environmentName)
        resourceType: VirtualMachine
      strategy:
       runOnce:
         deploy:
           steps:
             - script: echo 'Deployed!'
